DB_HOST=localhost
DB_PORT=5432
DB_NAME=guardian_financiero_db
DB_USER=postgres
DB_PASSWORD=admin
SERVER_PORT=8080

JWT_SECRET=clave_super_secreta_para_desarrollo_guardian_financiero_ia_2026
JWT_EXPIRATION_MS=86400000
